body {
    background-color: #080808;
    height: 10000px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #1B1B1B;
    color: #9C9C9C;
    height: 50px;
    align-items: center;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 100px;
}

.card{
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    
    position: sticky;
    top: 100px;
}